<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <!--Here I set my bootstrap elements as the default layout for each cshtml file-->

    <link href="~/lib/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
    <link rel="icon" href="~/lib/img/space_icon.jpg" type="image/x-icon" />
</head>
<body>

    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a> | </a>
        <a asp-controller="Blah" asp-action="GradeCalculator">Calculate Grade</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <!--Here I import all of my other files and pages-->
    <script src="~/lib/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/JQuery/jquery.js"></script>
    <script src="GradeCalculator.js"></script>

</body>
</html>
